/* custom_style.css */
.wrap-branch {
    background-image: url('image.jpg');
    background-size: cover;
    /* Açık gri arka plan rengi */
    font-family: 'Arial', sans-serif;
    /* Genel font */
}

.wrap-branch {
    padding: 130px 0;
    /* Üst ve alt boşluk */
}


.form-group-branch {
    margin-bottom: 20px;
    text-align: center;
    /* Yazıların ortalanması için */
}

/* Etiketler için stil */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Select kutuları için stil */
.form-control-branch {
    width: 100%;
    /* Sayfanın genişliğine göre ayarlayabilirsiniz */
    max-width: 500px;
    /* Maksimum genişlik belirleyebilirsiniz */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    margin: 0 auto;
    /* Sayfanın ortasına almak için */
    display: block;
}

/* Buton için stil */
.btn-primary-branch {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    /* Butonun satırda tek başına olmasını sağlar */
    margin: 20px auto;
    /* Sayfanın ortasına almak için */
}

.btn-primary-branch:hover {
    background-color: #0056b3;
    border-color: #004085;
}


.branch-info-header{
    font-size: larger;
    align-items: center;
    background-color: #cbdef0; */
    margin-bottom: 30px;
    border: 3px solid #92c3f1;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 60%;
    height: 15%;
    margin: auto;
    text-align: center;
}


.branch-name {
    font-size: large;
    align-items: center;
    background-color: #cbdef0;
    margin-bottom: 30px;
    border: 4px solid #92c3f1;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 50%;
    height: 12%;
    margin: auto;
    text-align: center;
}

.branch-info-details {
    font-size: medium;
    align-items: center;
        background-color: #cbdef0; */
        margin-bottom: 30px;
        border: 4px solid #92c3f1;
        border-radius: 8px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        width: 50%;
        height: 50%;
        margin: auto;
        text-align: center;
}